@model IEnumerable<EntityLayer.Concrete.Comment>
<section class="w3l-comments-9-main mt-5">
    <div class="gallery-32">
        <h3 class="title-main2-blog-single">Yorumlar (2)</h3>
        <div class="row">
            @*<div class="col-md-6">
                <div class="comment-grid">
                    <p>
                        <i class="fa fa-quote-left" aria-hidden="true"></i> Sed ut perspiciatis unde
                        omnis iste natus error sit voluptatem
                        accusantium doloremque laudantium, totam rem aperiam.
                    </p>
                    <div class="testi-pos mt-3 d-flex align-items-center">
                        <img src="~/gastronomytheme1/assets/images/testi2.jpg" alt=""
                             class="img-responsive rounded-circle mb-3" />
                        <div class="right-coment">
                            <h4>Nemo en</h4>
                            <span>totam rem</span>
                        </div>
                    </div>
                    <a href="#reply" class="reply-blog"><i class="fa fa-reply"></i>Reply</a>
                </div>
            </div>*@
            <div class="col-md-6 mt-md-0 mt-4">
                <div class="comment-grid">
                    <p>
                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                        fugit, sed quia consequuntur magni dolores eos qui.
                    </p>
                    <div class="testi-pos mt-3 d-flex align-items-center">
                        <img src="~/gastronomytheme1/assets/images/testi1.jpg" alt=""
                             class="img-responsive rounded-circle mb-3" />
                        <div class="right-coment">
                            <h4>eius mod</h4>
                            <span>sed quia</span>
                        </div>
                    </div>
                    <a href="#reply" class="reply-blog"><i class="fa fa-reply"></i>Reply</a>
                </div>
            </div>
        </div>
    </div>
</section>