<section class="w3l-form-comments-sec mt-5">
    <div class="coments-forms-sub">
        <h3 class="title-main2-blog-single">Bir Yorum Bırak</h3>
        <div class="form-commets">
            <form action="#" method="post">
                <div class="row mb-4">
                    <div class="col-md-6">
                        <input type="text" name="Name" required="Name" placeholder="İsim ve Soyisim">
                    </div>
                    <div class="col-md-6 mt-md-0 mt-4">
                        <input type="email" name="Email" required="Email" placeholder="Email">
                    </div>
                </div>
                <textarea name="Message" required=""
                          placeholder="Yorumunuz..."></textarea>
                <button class="btn button-style d-flex ml-auto" type="submit">Gönder</button>
            </form>
        </div>
    </div>
</section>