

   
        <li class="nav-item">
            <a class="nav-link" href="/blog/index">Ana Sayfa <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog Sayfası <span class="fa fa-angle-down"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item active" href="/Blog/index">Bloglar</a>
                <a class="dropdown-item" href="blog-single.html">Mekanlar</a>
                <a class="dropdown-item" href="error.html">Yemek Çeşitleri</a>
                @*<a class="dropdown-item" href="landing-single.html">Landing Page</a>*@
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about/index">Hakkımızda</a>
        </li>
        @*<li class="nav-item">
            <a class="nav-link" href="menu.html">Menu</a>
        </li>*@
        
       <li class="nav-item">
            <a class="nav-link" href="/contact/index">İletişim</a>
        </li>
        

   
